PerDueCItyCard.xcodeproj/project.pbxproj.orig
PerDueCItyCard.xcodeproj/project.pbxproj.orig
PerDueCItyCard.xcodeproj/project.xcworkspace/xcuserdata/fastfading.xcuserdatad/UserInterfaceState.xcuserstate
PerDueCItyCard.xcodeproj/project.xcworkspace/xcuserdata/mario.xcuserdatad/UserInterfaceState.xcuserstate

.DS_Store
